.headerteam {
    width: 100%;
    text-align: center;
    background-color: #fff;
    background-size: cover;
    overflow: hidden;
    padding: 5rem 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}